/benchmarks/
/benchmark_runs/
/reports/
/venv/
/.venv/
/.cargo/
/.gurobi/
/old/
target/
__pycache__
*.json
*.csv
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.out
*.backup
/benchopt
output.log
gurobi.lic
rustup_installer.sh
model.lp
model*.lp
/just
/sync_to_remote.sh
/code_remover/example.cpp

