/benchmarks/
/benchmark_runs/
/reports/
/venv/
/.venv/
/.cargo/
/old/
target/
__pycache__
*.json
*.csv
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.out
*.cpp
*.backup
output.log
gurobi.lic
rustup_installer.sh
/just

